* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 10px;
}

label {
    margin: 20px;
    display: block;
    text-align: center;
}

textarea, button {
    display: block;
    margin: 10px auto;
}

button {
    padding: 5px;
}

span {
    font-size: 1.2em;
    color: tomato;
}

.results {
    margin-left: 30px;
}
